@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'NunitoSns Regular';
    src: url(../fonts/NunitoSans_7pt-Regular.ttf);
}
@font-face{
    font-family: 'WorkSans Regular';
    src: url(../fonts/WorkSans-Regular.ttf);
}